@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-secondary: #E2FF00;
  --color-neutral: #F8FAFC;
  --color-dark: #0F172A;
}

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #F8FAFC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
